.container {
  margin: 0;
  background-color: #fff;
  padding: 3rem;
  list-style-type: none;
}

.calender {
  border: 1px solid black;
  position: absolute;
  top: 13vh;
  left: 50vw;
}

@media only screen and (max-width: 1130px) {
  .calender {
    top: 12vh;
    left: 50vw;
  }
}
@media only screen and (max-width: 850px) {
  .calender {
    top: 10vh;
    left: 60vw;
  }
}
@media only screen and (max-width: 520px) {
  .calender {
    top: 10vh;
    right: 10vw;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 1.5rem;
    padding-top: 4rem;
    font-size: 12px;
  }
}
